.chat-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 80px;
  height: 80px;
  border-radius: 30%;
  background: linear-gradient(135deg, #2777fc, #f8f9fa);
  color: #2b1e16;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  z-index: 1300;
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: spineer 2s infinite;
}
.chat-assistant {
  width: 90px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-fab:hover {
  transform: scale(1.08);
}

/* wrapper*/
.assistant-wrapper {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}

/* Message Bubble */
.assistant-bubble {
  background: #e6e1e1;
  color: #16192b;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 13px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 90px;
  max-width: 220px;
  animation: fadeSlide 0.6s ease;
}

.assistant-bubble span {
  font-size: 12px;
  color: #485abe;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}
@media (max-width:576px){
  .chat-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  background: linear-gradient(135deg, #2777fc, #f8f9fa);
  color: #2b1e16;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  z-index: 1300;
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: spineer 2s infinite;
}
.chat-assistant {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.assistant-bubble {
  background: #e6e1e1;
  color: #16192b;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 13px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 65px;
  max-width: 200px;
  animation: fadeSlide 0.6s ease;
}
}
@media (min-width: 577px) and (max-width: 991px){
    .chat-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  background: linear-gradient(135deg, #2777fc, #f8f9fa);
  color: #2b1e16;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  z-index: 1300;
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: spineer 2s infinite;
}
.chat-assistant {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.assistant-bubble {
  background: #e6e1e1;
  color: #16192b;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 13px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 65px;
  max-width: 200px;
  animation: fadeSlide 0.6s ease;
}

}